app/views/data/
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
activator
activator-launch-1.3.7.jar
activator.bat
build.sbt
*.pyc
.DS_Store
