@dashboard_frame {
	<h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-2 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>UCLA</h4>
              <span class="text-muted">0 items need attention</span>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>UCD</h4>
              <span class="text-muted">1 item needs attention</span>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>UCSD</h4>
              <span class="text-muted">3 items need attention</span>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>UCI</h4>
              <span class="text-muted">2 item need attention</span>
            </div>
            <div class="col-xs-6 col-sm-2 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>UCSF</h4>
              <span class="text-muted">4 items need attention</span>
            </div>
          </div>
	<h2 class="sub-header">Latest Activity</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Activity</th>
                  <th>Results</th>
                  <th>Errors</th>
                  <th>Comments</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Finished running daily queries</td>
                  <td>All systems functioning normally</td>
                  <td>UCLA did not return valid results for Query 1</td>
                  <td>Restart the i2b2 for UCLA</td>
                </tr>
              </tbody>
            </table>
          </div>
}
